.header{
    height:56px;
    line-height: 56px;
    background: #111;
    width: 100%;
    color: #e8e8e8;
    font-size: 14px;
    min-width: 1140px;
    .logo{
        margin: 14px 30px auto 60px;
        width: 122px;
        height: 28px;
        line-height: 56px;
        padding-top:14px;
        background: url(../images/logo.png) no-repeat;
        background-size: contain;
        float: left;
    }
    .nav{
        li{
            float: left;
            width: 80px;
        }
        .active{
            color: #688AF4;
        }
    }
    .login{
        margin-right: 60px;
        li{
            float: right;
            width: 60px;
        }
        img{
            width: 30px;
            height: 30px;
            vertical-align: middle;
        }
    }
}
