.login-box{
    width: 340px;
    height: 355px;
    background: #fff;
    opacity: 0.92;
    border-radius: 3px;
    .tab{
        height: 51px;
        padding-top: 16px;

        li{
            float: left;
            width: 50%;
            font-size: 24px;
            text-align: center;
            cursor: pointer;
            &.active{
                color: #ff6803;
            }
        }
        li:nth-child(1){
            border-right: 1px solid #dfdfdf;
        }
    }
    .login-tab,.register-tab{
        margin:16px 30px;
    }
    .agree{
        font-size: 12px;
        margin-bottom: 30px;
        padding-top: 20px;
        .checkstatus{
            float: left;
            margin-right: 10px;
        }
        .agreement{
            float:left;
            a{
                color: #53a0e3;
            }
        }
        .check{
            display: inline-block;
            height: 16px;
            width: 16px;
            cursor: pointer;
            background: url(../images/btn-check.png) no-repeat;
            background-size: contain;
        }
        .not{
            background: url(../images/btn-notcheck.png) no-repeat;
            background-size: contain;
        }
    }
    .register,.log-rightnow{
        width: 100%;
        font-size: 18px;
        line-height: 40px;
        border-radius: 3px;
        color: #fff;
    }
    .register{
        background: #ff8b20;
    }
    .log-rightnow{
        background: #77b716;
        margin-top: 40px;
    }
    .box-cont{
        margin-bottom: 6px;
        height: 50px;
    }
    .box{
        line-height: 35px;
        text-align: left;
        width: 100%;
        font-size: 18px;
        border-bottom: 1px solid #dfdfdf;
        color: #000;
        position: relative;
        input{
            width: 210px;
            padding: 10px 0 10px 20px;
        }
        .text{
            height: 35px;
            vertical-align: top;
            text-align:justify;            
            display: inline-block;
            width: 60px;
        }
        .text::after{
            content:"";
            display: inline-block;
            width:100%;
            overflow:hidden;
            height:0;
        }
    }
    .err-box{
        text-align: left;
        animation: move .2s linear 2;
        -webkit-animation-fill-mode:forwards;
        .err-icon{
            display: inline-block;
            height: 14px;
            width: 14px;
            background: url(../images/error.png) no-repeat;
            background-size: contain;
            vertical-align: middle;
            margin-right: 4px;
        }
        .err{
            color: #ff6803;
            font-size: 12px;
        }
    }
    
    .validcode{
        position: relative;
        left: 0;
        animation: move1 .4s linear 1;
    }
    .open-eyes{
      width: 60px;
      height: 40px;
      background: url(../images/eye.png) no-repeat;
      background-size: contain;
      position: absolute;
      right: 0;
      bottom: 0;
      &.close {
        background: url(../images/closeeye.png) no-repeat;
        background-size: contain;
      }
    }
    .validimg{
        font-size: 14px;
        line-height: 44px;
        >.imgcode{
            display:inline-block;
            height: 40px; 
            position: absolute;
            right: 0;
            bottom: 10px;
        }
        >span{
            display:inline-block;
            height: 40px; 
            position: absolute;
            right: 0;
            bottom: 0;
        }
        .count{
            color: #999;
        }
        .again{
            color: #53a0e3;
        }
    }
}
.success-box{
    width: 340px;
    height: 231px;
    background: #fff;
    border-radius: 3px;
    position: relative;
    top: 60px;
    font-size: 18px;  
    p{
      line-height: 35px;
      padding: 40px 0 0 30px;
      text-align: left;
    }
    .success{
        margin: 0 30px;
        p{
            padding: 0;
        }
        >a{
            font-size: 18px;
            color: #fff;
            display: block;
            width: 280px;
            height: 40px;
            background-color: #77b716;
            border-radius: 2px;
            line-height: 40px;
            text-align: center;
            margin: 10px 0 15px 0;
            -webkit-transition: all 0.15s ease;
            transition: all 0.15s ease;
        }
    }
}
@keyframes move1{
    0%{
        left: 350px;
    }
    25%{
        left: 250px;
    }
    50%{
        left: 175px;
    }
    75%{
        left: 75px;
    }
    100%{
        left: 0;
    }
}
@keyframes move{
    0%{
        margin-left: -2px;
    }
    100%,33%{
        margin-left: 0;
    }
    66%{
        margin-left: 2px;
    }
}